@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Anton";
  margin: 0 auto;
  background-color: #F5F5F5 !important;
    #root {
    height: 100vh;
  }
}


h1{
    font-family: "PT Serif";
}

h3{
  font-family: "Oswald";
}

.category{
  width: 100%;
  height: 200px;
  border-radius: 15px;
  opacity: 0px;
  border:"none";
  
  
}

.card-data{
  border-radius:"15%" ;
}

.scrollable-div {
  height: 400px; 
  overflow-y: scroll; 
}
.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-image: url('https://www.google.com/logos/doodles/2024/earth-day-2024-6753651837110453-2xa.gif');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  border-radius: "100%";
  background-color: green;
}
.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}
.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}
.react-resizable-handle-w,
.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}
.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}
.react-resizable-handle-n,
.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}
.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}

